<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Giovanni Clayton</mat-card-title>
      <mat-card-subtitle>Desenvolvedor Web Full Stack</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://media.licdn.com/dms/image/C4D03AQEuxiksRmza3Q/profile-displayphoto-shrink_800_800/0/1654871264325?e=1678320000&v=beta&t=cF7eLQ0HL6yhqf6Wd955JfyKvtpFj9WYUfiW9vGXIgQ"
      alt="Photo of Giovanni Clayton"
    />
    <mat-card-content>
      <p>
        Olá me chamo Giovanni Clayton Dias Alves, sou desenvolvedor full stack,
        graduado em Análise e Desenvolvimento de sistemas, pela Universidade
        Anhanguera, formado em desenvolvimento web na Resilia Educação busco uma
        oportunidade de trabalho na área de desenvolvimento, como desenvolvedor
        web junior.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-button
        target="_blank"
        href="https://www.linkedin.com/in/giovanni-clayton/"
        >Linkedin</a
      >
      <a
        color="primary"
        mat-button
        target="_blank"
        href="https://github.com/Gclayton0207"
        >Github</a
      >
    </mat-card-actions>
  </mat-card>
</div>
