<mat-card>
  <mat-card-title>Registrar</mat-card-title>
  <mat-card-content>
    <form
      class="example-form"
      [formGroup]="reactiveForm"
      (ngSubmit)="saveUser()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Nome </mat-label>
        <input matInput placeholder="Nome" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email </mat-label>
        <input
          type="email"
          matInput
          placeholder="Email"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Senha </mat-label>
        <input
          matInput
          placeholder="Senha"
          type="password"
          formControlName="password"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Confirmar Senha </mat-label>
        <input
          matInput
          placeholder="Confirmar Senha"
          type="password"
          formControlName="confirmpassword"
        />
      </mat-form-field>
      <div>
        <button mat-raised-button type="submit" color="primary">
          Registrar
        </button>
        <a
          mat-raised-button
          class="btn-register"
          color="accent"
          target="_blank"
          (click)="RedirectLogin()"
          >Fechar</a
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
